body{font-family:Georgia,"Times New Roman",Times,serif;margin:0;padding:0;}
        #divbodyholder{padding:5px;width:100%;max-width:874px;margin:24px auto;}
        #divbody{border:solid 1px #ccc;padding:0px 48px 24px 48px;top:0;}
        .headerholder{border-top:solid 1px #ccc;border-left:solid 1px #ccc;border-right:solid 1px #ccc;}
        .header{width:100%;max-width:800px;margin:0px auto;padding-top:24px;padding-bottom:8px;}
        .content{margin-bottom:5%;}
        .nomargin{margin:0;}
        .description{margin-top:10px;border-top:solid 1px #666;padding:10px 0;}
        h3{font-size:20pt;width:100%;font-weight:bold;margin-top:32px;margin-bottom:0;}
        .clear{clear:both;}
        #footer{padding-top:10px;border-top:solid 1px #666;text-align:center;font-size:small;font-family:"Courier New","Courier",monospace;}
        a{text-decoration:none; !important;}
        a:visited{text-decoration:none; !important;}
        blockquote{border-left:solid 4px #e9e9e9;margin-left:12px;padding:12px 12px 12px 24px;}
        blockquote img{margin:12px 0px;}
        blockquote iframe{margin:12px 0px;}



.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);
}

.card-body {
  padding: 2px 16px;
  padding-bottom: 16px;
}

.container {
	padding-top: 16px;
	padding-bottom: 16px;
}

#description, .subtitle {
	font-size: small;
}

.subtitle {
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
